<ion-view view-title="Playlists">
  <ion-content>
    <button class="button button-full button-calm" ng-click="appversion()">
          appVer
        </button>   
    <button class="button button-full button-calm" ng-click="appversiondevice()">
          appVer on Device
        </button> 
        <button class="button button-full button-calm" ng-click="apprest()">
          appVer on Rest
        </button> 
        <button class="button button-full button-calm" ng-click="appC()">
          appVerCordova
        </button> 

    <button class="button button-full button-calm" ng-click="callcontactscope()">
          Call contacts
        </button>   
        <br>

    <label class="item item-input item-floating-label">
      <span class="input-label">Number</span>
      <input type="text" placeholder="Number" ng-model="nos.tel">
    </label>
  	<button class="button button-full button-assertive" ng-click="sendtow()">
          Send To Whatsapp Contact Number
        </button>   
        <br><button class="button button-full button-royal" ng-click="sendtow2()">
          Send To Whatsapp mobi
        </button>   
        <br><br>
    <button class="button button-full button-positive" ng-click="scheduleSingleNotification()">
          Show Local Notification (1)
        </button>   
        <button class="button button-full button-positive" ng-click="scheduleDelayedNotification()">
          Show Local Notification After 10 sec (2)
        </button>     
        <button class="button button-full button-positive" ng-click="scheduleEveryMinuteNotification()">
          Show Local Notification Every 1 min (3)
        </button> 
        <button class="button button-full button-positive" ng-click="updateSingleNotification()">
          Update Notification 2 (after 10 sec)
        </button> 
        <button class="button button-full button-positive" ng-click="cancelSingleNotification()">
          Cancel Notification 3 (every 1 min)
        </button> 
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
    <br>
    <p>{{contactslist | json }}</p>
  </ion-content>
</ion-view>
